<launch>
  <!-- airsim_car_teleop_key already has its own built in velocity smoother -->
  <arg name="cmd_vel_topic" default="/airsim_car_node/drone_1/vel_cmd_body_frame" />
  <node pkg="airsim_car_teleop" type="airsim_car_teleop_key" name="airsim_car_teleop_keyboard"  output="screen">
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
  </node>
</launch>
